include LICENSE
include README.md
include pyproject.toml
exclude jupysec_extension
exclude tests
exclude dist
exclude .vscode

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints