include LICENSE
include README.md
include pyproject.toml
exclude jupysec/public/score.html

recursive-include jupyter-config *.json

include package.json
include ts*.json
graft jupysec/labextension
graft jupysec/public
graft jupysec/templates

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints